/* Button container styling */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Station button styles */
.station-button {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 200px;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  background-color: black;
  box-sizing: border-box;
}

.station-button:hover {
  transform: scale(1.05); 
  background-color: #333; 
}

/* Station name inside the button */
.station-name {
  font-size: 22px;
  background-color: black;
  color: white;
  padding: 3px 6px;
  margin-bottom: 2px;
  margin-top: 30px;
  box-sizing: border-box;
}
