/* Body styles */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: black;
}

/* Heading styles */
h1 {
  text-align: center;
  color: white;
}

/* Text styles (general classes) */
.capital {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 0px 5px;
  margin: 2px 0 0 0;
  box-sizing: border-box;
}

.date-time {
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 3px 3px;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.population {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 3px 3px;
  margin-top: 4px;
  box-sizing: border-box;
}

.weather-info {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 12px;
  color: white;
  background-color: black;
  padding: 2px 2px;
  text-align: right;
  box-sizing: border-box;
}
