# Exclude node_modules except for the out directory
node_modules/**
!node_modules/vscode/**

# Exclude TypeScript source files
src/**

# Exclude the build info and test files
*.tsbuildinfo
.vscode-test/**

# Exclude config files and logs
tsconfig.json
.vscode/**
*.log
package-lock.json

# Exclude other unnecessary files
README.md
.gitignore
