/* General styling for body */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

/* Styling for header */
h1 {
  display: flex;
  justify-content: center; /* Horizontally centers the title */
  align-items: center; /* Vertically aligns if needed */
  font-size: 2em;
  margin-top: 20px;
}

/* Container for the buttons */
.button-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(10, 1fr); /* 10 rows */
  gap: 5px; /* Small gap between buttons */
  width: 100vw; /* Full viewport width */
  /* height: 100vh; Full viewport height */
  padding: 20px;
  box-sizing: border-box;
  justify-items: stretch;
  align-items: stretch;
}

.button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  width: fit-content;
  margin: 0 auto; /* Center the title */
}

.button-time {
  text-align: center;
  margin-top: auto; /* Push to the top of the button content */
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  width: fit-content;
  margin: 0 auto;
}

.date-time {
  position: absolute;
  top: 25%;
  right: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  z-index: 2;
}

.capital {
  left: 10px;
}

.date-time {
  right: 10px;
}

.station-button {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.station-button:hover {
  transform: scale(1.05);
}

.station-name {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  font-size: 1.2em;
  border-radius: 3px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  position: absolute;
  bottom: 40px; /* Adjust this to control how far above the population the weather should be */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 5px 12px; /* Increased width padding to make it appear wider */
  font-size: 0.9em; /* Adjust font size if needed */
  border-radius: 3px;
  z-index: 1;
  width: 140px; /* Make it wider */
  height: 40px; /* Make it shorter */
}

.weather-info {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  font-size: 1em;
  border-radius: 3px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 60px; /* Set a reasonable width for the icon */
  height: 60px; /* Set a reasonable height for the icon */
  margin-left: 10px; /* Add some space between the text and the icon */
  z-index: 2; /* Make sure the icon appears on top */
}

.population {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  font-size: 1em;
  border-radius: 3px; /* Optional: for a more polished look */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-population {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: 0 auto; /* Center it horizontally */
}

/* Styling for activate/deactivate sounds button */
#activateSounds,
#deactivateSounds {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  width: 80vw; /* Wider than the buttons */
  height: 80vh; /* Tall to fit the data */
  background-color: var(--button-bg-color);
  padding: 20px;
  color: white;
}

.modal-content {
  background-color: #333;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  color: white;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Button to activate sounds */
#activateSounds {
  background-color: #4caf50;
}

/* Button to deactivate sounds */
#deactivateSounds {
  background-color: #f44336;
}

/* Light containers */
.light.red {
  position: absolute;
  bottom: 20px;
  left: 30px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  transition: background-color 0.5s;
}

.light.active.red {
  background-color: red;
}

.green-light-wrapper {
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.light.green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  transition: background-color 0.5s;
}

.light.active.green {
  background-color: green;
}

/* Audio hover and click styles */
.station-button:hover .audio {
  opacity: 1;
}

.station-button .audio {
  opacity: 0;
  transition: opacity 0.3s;
}
